@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
    --violet: #8A2BE2;
    --blue: #1E90FF;
    --orange: #ff961e;
    --blue_t: #0017c6;
    --white: #FFFFFF;
    --black_t: #262525;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto Serif", serif;
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100%;
    background: var(--black_t);
    padding-top: 20px;
    position: fixed;
}

.sidebar h2 {
    color: var(--white);
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: background 0.3s, color 0.3s;
}

.sidebar ul li a i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.sidebar ul li a:hover {
    background: var(--white);
    color: var(--violet);
}

.sidebar ul li.selected a {
    background: var(--white);
    color: var(--violet);
}

.hidden {
    display: none;
}

.content {
    margin-left: 250px; /* Ajuste para deixar espaço para o sidebar */
    padding: 20px;
}

.content h2 {
    margin-bottom: 20px;
    color: var(--black);
}

.statistics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que os cards quebrem para baixo em telas menores */
}

.card {
    color: var(--white);
    padding: 20px;
    border-radius: 10px;
    width: calc(30% - 20px); /* Define a largura com margens entre os cards */
    margin-bottom: 20px; /* Espaçamento entre os cards */
    text-align: left;
    display: flex;
    align-items: center;
    flex: 1 0 calc(30% - 20px); /* Distribui os cards igualmente, mas permitindo quebra de linha */
    max-width: 300px; /* Largura máxima do card */
    max-height: 200px; /* Altura máxima do card */
    overflow: hidden; /* Para cortar o conteúdo que excede a altura */
    transition: transform 0.3s ease; /* Efeito de transição suave */
}

.card:nth-child(1) {
    background: linear-gradient(to right, var(--violet), var(--blue));
}

.card:nth-child(2) {
    background: linear-gradient(to right, var(--violet), var(--orange));
}

.card:nth-child(3) {
    background: linear-gradient(to right, var(--violet), var(--blue_t));
}

.card i {
    font-size: 3rem;
    margin-right: 20px;
}

.card .info {
    flex-grow: 1;
}

.card .number {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}

.card p {
    margin: 3px 0 0 0;
    font-size: 1rem;
    color: var(--white);
}

.logs {
    margin-top: 40px;
}

.logs h2 {
    margin-bottom: 20px;
    color: var(--black);
}

#logTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#logTable th, #logTable td {
    border: 1px solid var(--black_t);
    padding: 8px;
    text-align: left;
}

#logTable th {
    background-color: var(--blue);
    color: var(--white);
}

#logTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#logTable tbody tr:hover {
    background-color: #ddd;
}

hr {
    width: 100%; 
    border: none;
    height: 1px;
    background-color: var(--black_t);
    margin: 20px 0; /* Espaçamento acima e abaixo da linha */
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%; /* Muda a largura para ocupar 100% do container pai em telas menores */
        max-width: none; /* Remove a largura máxima em telas menores para ocupar o espaço disponível */
    }
}
